<html>
<head>
    <title>Doctor's Login</title>
</head>
<body>
{% if loggedin : %}
    {% for key in docts : %}
    {{ key }}
{% endif %}
{% else:%}
<form method = "post" action = "">
        <table>
            <tr><td>UID</td><td><input type ='text' name = 'id'></td></tr>
            <tr><td>Password</td><td><input type = 'password' name = 'password'></td></tr>
            <tr><td><input type = "submit" value = "Submit"></td></tr>
        </table>
    </form>
    {% endif %}
</body>
</html>