<html>
<head>
    <title>Doctor's Registration</title>
</head>
<body>
    <form method = "post" action = "">
        <table>
            <tr><td>UID(Issued by GOI)</td><td><input type ='text' name = 'id'></td></tr>
            <tr><td>Password</td><td><input type = 'password' name = 'password'></td></tr>
            <tr><td>First Name</td><td><input type ='text' name = 'fname'></td></tr>
            <tr><td>Last Name</td><td><input type ='text' name = 'lname'></td></tr>
            <tr><td>Number of Surguries </td><td><input type ='number' name = 'rating'></td></tr>
            <tr><td>MS(if applicable)</td><td><input type ='text' name = 'spl'></td></tr>
            <tr><td>Experience(in yrs)</td><td><input type ='number' name = 'experience'></td></tr>
            <tr><td><input type = "submit" value = "Submit"></td></tr>
        </table>
    </form>

{% if msg :%}
    <h4>{{msg}} <br></h4>
    {% endif %}
</body>
</html>